.idea/
node_modules/

*~
\#*\#

/examples/upload-plain-javascript/javascript/config.js
/examples/upload-php-jquery/config.php
/examples/watchfolder-bash/medialab.env
/examples/watchfolder-bash/medialab_watcher.lock
/examples/watchfolder-bash/dropbox
