######################################################################
# MEDIALAB
######################################################################
# Please obtain a Private Token through your Profile page first.
# You can obtain the folder ID by navigation to the folder, then going to Folder > Details.
# See https://support.medialab.co for assistance.
######################################################################

export MEDIALAB_URL="https://example.medialab.app"
export MEDIALAB_API_TOKEN="PRIVATE_TOKEN"
